aiohttp==3.7.4.post0
altgraph==0.17
astroid==2.5.6
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
crypto==1.4.1
DateTime==4.3
dhooks==1.1.4
discord==1.0.1
discord-webhook==0.14.0
discord.py==1.7.2
Flask==2.0.1
future==0.18.2
idna==2.10
iniconfig==1.1.1
isort==5.8.0
itsdangerous==2.0.1
Jinja2==3.0.1
keyboard==0.13.5
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mkdir==2020.12.3
multidict==5.1.0
Naked==0.1.31
packaging==20.9
Pastebin==1.1.2
pefile==2021.5.24
pluggy==0.13.1
py==1.10.0
pyarmor==6.7.2
pycryptodome==3.10.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pylint==2.8.3
pyminifier==2.1
pyparsing==2.4.7
pyping==0.0.6
PySocks==1.7.1
pytest==6.2.4
pythonping==1.1.0
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
selenium==3.141.0
shellescape==3.8.1
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.24.1
values==2020.12.3
Werkzeug==2.0.1
wrapt==1.12.1
yarl==1.6.3
zope.interface==5.4.0
